      <li class='list'>
        <%= link_to product_path(product) do %>
        <div class='item-img-content'>
          <%= image_tag product.image, class: "item-img" if product.image.attached? %>

          <%# 商品が売れていればsold outを表示しましょう 商品購入機能実装後に実装%>
          <%#<div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= product.name %>
          </h3>
          <div class='item-price'>
            <span><%= product.price %>円<br><%= product.cost.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
 

      